/*
  Golden Section Modular Scale:
  https://www.modularscale.com/?22&px&1.618
*/

/* Mobile/tablet view media query*/
    h2 {
        text-align: center;
        font-size: 25px; /* 1.563em */
        font-weight: 500;
        padding-bottom: 10%;
        padding-top: 2%;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3); /* 0.125em, 0.25em, 0.188em */
    }
    body{
        text-align: center;
        background-color: #4A5759;
        font-family: 'Orbitron',regular, sans-serif;
    }
    input{
        width: 87%;
        padding: 10px 20px; /* 0.625em, 1.25em */
        margin: 15px 0; /* 0.938em */
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px; /* 0.25em */
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Orbitron',regular, sans-serif;

    }
    #submit_button
    {
        background-color: #F7E1D7;
        border: none;
        color: black;
        padding: 15px 32px; /* 0.938em, 2em */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; /* 1em */
        margin: 4px 2px; /* 0.25em, 0.125em */
        cursor: pointer;

    }
    #phone{
        padding-bottom: 10%;
    }

    #email{
        padding-bottom: 10%;

    }
    #birthday{
        padding-bottom: 10%;

    }
}
/*Desktop view media query*/
@media only screen and (min-width: 768px) {
    h2 {
        text-align: center;
        font-size: 25px; /* 1.563em */
        font-weight: 300;
        padding-top: 2%;
        padding-bottom: 5%;

    }
    body {
        text-align: center;
        background-color: #4A5759;
        font-family: 'Orbitron',regular, sans-serif;
    }
    input {
        width: 350px; /* 21.875em */
        padding: 10px 10px; /* 0.625em */
        margin: 15px 0; /* 0.938em */
        display: inline-block;
        border: 1px solid #ccc; /* 0.063em */
        border-radius: 4px; /* 0.25em */
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Orbitron',regular, sans-serif;

    }
    #submit_button {
        background-color: #F7E1D7;
        border: none;
        color: black;
        padding: 15px 32px; /* 0.938em, 2em */
        width: 350px; /* 21.875em */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; /* 1em */
        margin: 4px 2px; /* 0.25em, 0.125em */
        cursor: pointer;

    }
    #phone {
        padding-bottom: 2%;
        text-align: center;

    }

    #email {
        padding-bottom: 2%;
        text-align: center;


    }
    #birthday {
        padding-bottom: 2%;
        text-align: center;


    }
}

/*Tablet media query*/
@media  only screen and (min-width: 1000px){
    h2 {
        text-align: center;
        font-size: 25px; /* 1.563em */
        font-weight: 500;
        padding-bottom: 5%;
        padding-top: 2%;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3); /* 0.125em, 0.25em, 0.188em */
    }

    input {
        width: 500px; /* 21.875em */
        padding: 20px 50px; /* 0.625em */
        margin: 15px 0; /* 0.938em */
        display: inline-block;
        border: 1px solid #ccc; /* 0.063em */
        border-radius: 4px; /* 0.25em */
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Orbitron',regular, sans-serif;

    }
    #submit_button {
        background-color: #F7E1D7;
        border: none;
        color: black;
        padding: 15px 32px; /* 0.938em, 2em */
        width: 350px; /* 21.875em */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; /* 1em */
        margin: 4px 2px; /* 0.25em, 0.125em */
        cursor: pointer;

    }

}

/*Desktop media query*/
@media only screen and (min-width: 1300px){
    h2 {
        text-align: center;
        font-size: 35px; /* 1.563em */
        font-weight: 500;
        padding-bottom: 5%;
        padding-top: 2%;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3); /* 0.125em, 0.25em, 0.188em */
    }

    input {
        width: 600px; /* 21.875em */
        padding: 20px 50px; /* 0.625em */
        margin: 15px 0; /* 0.938em */
        display: inline-block;
        border: 1px solid #ccc; /* 0.063em */
        border-radius: 4px; /* 0.25em */
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Orbitron',regular, sans-serif;

    }
    #submit_button {
        background-color: #F7E1D7;
        border: none;
        color: black;
        padding: 15px 32px; /* 0.938em, 2em */
        width: 350px; /* 21.875em */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; /* 1em */
        margin: 4px 2px; /* 0.25em, 0.125em */
        cursor: pointer;

    }

}